[general]
name = "minilib-crypto"
version = "0.6.0"
fix_version = "1.3.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/crypto/aes.fix",
    "lib/crypto/aes/aes_gcm.fix",
    "lib/crypto/hmac.fix",
    "lib/crypto/hmac/hmac_md5.fix",
    "lib/crypto/hmac/hmac_sha1.fix",
    "lib/crypto/hmac/hmac_sha256.fix",
    "lib/crypto/md5.fix",
    "lib/crypto/sha1.fix",
    "lib/crypto/sha256.fix",
    "lib/crypto/sha512.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/crypto/aes/aes_gcm_test.fix",
    "tests/crypto/aes_test.fix",
    "tests/crypto/hmac_test.fix",
    "tests/crypto/md5_test.fix",
    "tests/crypto/sha1_test.fix",
    "tests/crypto/sha256_test.fix",
    "tests/crypto/sha512_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "0.12.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-binary"
version = "0.6.0"
# path = "../fixlang-minilib-binary"
git = { url = "https://github.com/pt9999/fixlang-minilib-binary.git" }

[[test_dependencies]]
name = "minilib-random"
version = "0.7.0"
git = { url = "https://github.com/pt9999/fixlang-minilib-random.git" }
